.Container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    background-color: rgb(54, 55, 68);
    aspect-ratio: 5 / 6;
    flex-direction: column;
    font-family: monospace;
    padding: 10px 10px;
    border-radius: 5%;
}

.Container button {
    flex: 0 1 10%;
    
    
}

.pokeInfo {
    text-align: center;
    width: 70%;
    flex: 0 1 70%;
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: black 3px solid;
    background-color: #eee;

}

.pokeInfo img {
    flex: 1 1 70%;
}
.pokeInfo h1 {
    flex: 1 1 20%;
    font-size: 2rem;
    margin: 0;
}

.pokeInfo p {
    flex: 1 1 10%;
    font-size: 1.5rem;
    margin: 0;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}