.Container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    background-color: #4b4b4b;
    aspect-ratio: 5 / 6;
    flex-direction: column;
    font-family: monospace;
    padding: 10px 10px;
    border-radius: 5%;
}

.Container-correct {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    background-color: greenyellow;
    aspect-ratio: 5 / 6;
    flex-direction: column;
    font-family: monospace;
    padding: 10px 10px;
    border-radius: 5%;
}
.Container-incorrect {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    background-color: red;
    aspect-ratio: 5 / 6;
    flex-direction: column;
    font-family: monospace;
    padding: 10px 10px;
    border-radius: 5%;
}

.selection-button {
    width: auto;
    height: auto;
}


.pokeInfo {
    text-align: center;
    width: 70%;
    flex: 0 1 70%;
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: black 3px solid;
    background-color: #eee;

}

.pokeInfo img {
    flex: 1 1 70%;
}
.pokeInfo h1 {
    flex: 1 1 20%;
    font-size: 2rem;
    margin: 0;
}

.pokeInfo p {
    flex: 1 1 10%;
    font-size: 1.5rem;
    margin: 0;
}

